{% include 'Partials/base.twig' %}

<div class="crypto-container search-results">

    {% for crypto in cryptoCollection.get() %}
        <div class="crypto-box">
            <h2>{{ crypto.getSymbol() }}</h2>
            <p>Change (%): {{ crypto.getPriceChangePercent() }}</p>
            <p>Last price (€): {{ crypto.getLastPrice() }}</p>
            <p>High Price: {{ crypto.getHighPrice() }}</p>
            <p>Low Price: {{ crypto.getLowPrice() }}</p>
        </div>
    {% endfor %}
</div>
